/*
    General Styles
*/
.paolabg {
 background-image: url('https://data4.origin.com/content/dam/originx/web/app/games/star-wars/star-wars-battlefront-2/screenshots/Walrus_pdp_screenhi_1920x1080_en_ww_Pillio_v1.jpg');
 background-repeat: no-repeat;
 background-size: 100%;
}
